@import "tailwindcss";


@theme {
  --font-poppins: 'Poppins', sans-serif;
  --color-shop-light-pink: #fcf0e4;

  --shop_dark_green: #063c28;
  --shop_btn_dark_green: #063d29;
  --shop_light_bg: #f6f6f6;
  --shop_light_green: #3b9c3c;
  --shop_orange: #fb6c08;

  --darkColor: #151515;
  --lightColor: #52525b;
  --lightOrange: #fca99b;
  --lightBlue: #7688db;
  --darkBlue: #6c7fd8;
  --darkText: #686e7d;
  --lightBg: #f8f8fb;
  --darkRed: #f02757;
  --lightText: #ababab;
  --lightGreen: #93d991;
  --productBg: #f1f3f8;
}
